.meal-details {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.meal-details h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #444;
}

.container1 {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.container1 h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: orangered;
}

.container1 img {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.container1 p {
    font-size: 1rem;
    color: #555;
}